<div class="container mt-5">

<div class="row" *ngIf="product">
    <div class="col-6">
        <img src="{{ product.pictureUrl }}" alt="{{ product.name }}" class="img-fluid w-100">
    </div>
    <div class="col-6">
        <h3>{{ product.name }}</h3>
        <p style="font-size: 1.4em;">{{ product.price | currency }}</p>
        <div class="d-flex justify-content-start align-items-center">
            <fa-icon (click)="decrementQuantity()" [icon]="faCircleMinus" size="lg" style="color: orange; cursor: pointer;"></fa-icon>
            <span class="font-weight-bold" style="font-size: 1.3em;">
                {{ quantity }}
            </span>
            <fa-icon (click)="incrementQuantity()" [icon]="faCirclePlus" size="lg" style="color: orange; cursor: pointer;"></fa-icon>
            <button (click)="addItemToBasket()" class="btn btn-outline-primary btn-lg ms-4">Add to cart</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 ml-3">
            <h4>Description</h4>
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>

</div>